@{
    ViewData["Title"] = "シークレットキー追加";
}

<h2>シークレットキー追加</h2>
<hr />

<form>
    <div class="form-group">
        <label for="key-type">種類</label>
        <select class="custom-select" id="key-type">
            <option value=""></option>
            <option value="Publisher">Publisher</option>
            <option value="Subscriber">Subscriber</option>
        </select>
        <small id="key-type-help" class="form-text text-muted">シークレットキーの種類を選択します。</small>
    </div>
    <div class="form-group">
        <label for="description">シークレットキー</label>
        <input type="text" class="form-control" id="key" aria-describedby="key-help" autocomplete="off">
        <small id="key-help" class="form-text text-muted">シークレットキーを記載します。</small>
    </div>
    <div class="form-group">
        <label for="description">説明</label>
        <input type="text" class="form-control" id="description" aria-describedby="description-help" autocomplete="off">
        <small id="description-help" class="form-text text-muted">シークレットキーの説明を記載します。</small>
    </div>
    <div class="form-group">
        <label>有効化</label>
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="activation">
            <label class="custom-control-label" for="activation"></label>
        </div>
        <small id="description-help" class="form-text text-muted">シークレットキーが使用可能かどうか設定します。</small>
    </div>
    <div class="form-row">
        <div class="col-auto">
            <a asp-action="Clients" class=" btn btn-block btn-outline-secondary">キャンセル</a>
        </div>
        <div class="col-auto">
            <button type="submit" class=" btn btn-block btn-primary">完了</button>
        </div>
    </div>
</form>
