@{
    ViewData["Title"] = "シークレットキー詳細";
}

<div class="row">
    <h3 class="col mb-1" style="text-overflow:ellipsis">MT4/OANDA Corporation/811631031/2</h3>
    <small class="col-auto">Publisher</small>
</div>
<div class="d-flex justify-content-between">
    <div>山根さん</div>
    <a asp-action="ClientEdit" asp-route-id="1">編集</a>
</div>
<div><span class="badge badge-warning">無効</span></div>

<hr />

<div class="form-row align-items-center mb-3">
    <h3 class="col">履歴</h3>

    <div class="col-auto">
        <div class="input-group">
            <select class="custom-select" id="search-year">
                <option value="2021">2021</option>
            </select>
            <div class="input-group-append">
                <label class="input-group-text" for="search-year">年</label>
            </div>
        </div>
    </div>
    <div class="col-auto">
        <div class="input-group">
            <select class="custom-select" id="search-month">
                <option value="9">9</option>
            </select>
            <div class="input-group-append">
                <label class="input-group-text" for="search-month">月</label>
            </div>
        </div>
    </div>
</div>

<div class="card mb-3">
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <div><b>収支</b></div>
            <div class="text-right text-success">10,000 JPY</div>
        </div>
        <div class="d-flex justify-content-between">
            <div><b>取引回数</b></div>
            <div class="text-right">2 回</div>
        </div>
    </div>
</div>

<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action">
        <div class="row">
            <div class="col-auto">
                <div>AUDJPY/買い</div>
            </div>
            <div class="col">
                <div class="text-right text-primary">OPENING</div>
            </div>
        </div>
        <div>
            <small>2021-09-24</small>
            <small>12:30:20 -</small>
        </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
        <div class="row">
            <div class="col-auto">
                <div>USDJPY/買い</div>
            </div>
            <div class="col">
                <div class="text-right text-success">+90,000</div>
            </div>
        </div>
        <div>
            <small>2021-09-24</small>
            <small>10:30:20 - 11:30:25</small>
        </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
        <div class="row">
            <div class="col-auto">
                <div>USDJPY/買い</div>
            </div>
            <div class="col">
                <div class="text-right text-danger">-80,000</div>
            </div>
        </div>
        <div>
            <small>2021-09-23</small>
            <small>10:30:20 - 11:30:25</small>
        </div>
    </a>
</div>
