@{
    ViewData["Title"] = "Dashboard";
}
<h2>@ViewData["Title"]</h2>

<hr />

<h3>現況</h3>

<div class="mt-3">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">接続中のEA</h5>
                    <div class="card-text mb-3">
                        <hr />
                        <div class="row">
                            <div class="col"><b>Publisher</b></div>
                            <div class="col-auto text-right">1 台</div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col"><b>Subscriber</b></div>
                            <div class="col-auto text-right">10 台</div>
                        </div>
                    </div>
                    <a asp-action="Clients" class="card-link">一覧</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">コピートレード</h5>
                    <div class="card-text mb-3">
                        <hr />
                        <div class="row">
                            <div class="col"><b>注文状況</b></div>
                            <div class="col-auto text-right text-danger">USDJPY/買い</div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col"><b>更新時刻</b></div>
                            <div class="col-auto text-right">2021-09-24 12:01:00</div>
                        </div>
                    </div>
                    <a asp-action="Order" class="card-link">詳細</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="float-right">
                        <div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-outline-primary">
                                <input type="radio" name="options" autocomplete="off"> 日次
                            </label>
                            <label class="btn btn-outline-primary active">
                                <input type="radio" name="options" autocomplete="off" checked> 週次
                            </label>
                            <label class="btn btn-outline-primary">
                                <input type="radio" name="options" autocomplete="off"> 月次
                            </label>
                        </div>
                    </div>
                    <h5 class="card-title">履歴</h5>
                    <div class="card-text mb-3">
                        <hr />
                        <div class="row">
                            <div class="col"><b>取引数</b></div>
                            <div class="col-auto text-right">3 件</div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col"><b>収支</b></div>
                            <div class="col-auto text-right">- 320,300 JPY</div>
                        </div>
                    </div>
                    <a asp-action="History" class="card-link">一覧</a>
                </div>
            </div>
        </div>
    </div>
</div>

<h3>メッセージ</h3>

<div class="list-group">
    <a asp-action="ClientEdit" asp-route-id="1" class="list-group-item list-group-item-action">
        <p class="m-0">承認待ちの EA があります。</p>
    </a>
</div>
